* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: unset;
  text-decoration: none;
  --base: #1f1f1f;
  --base-t: #1f1f1f2b;
  --base-light: #3d3d3d;
  --base-ac:#253D5B;

  --highlight: #142351;

  --project: #1c5914;
  --project-hl: #8ad880;
  --project-ac: #311509;
  
  --home: #672e16;  
  --home-hl: #dc8763;
  --home-ac: #082d04;

  --text: #d1d1d1;
  --text-s: #878787;
  --text-hl: #ffffff;

  --blue-dark: #1b2c60;
  user-select: none;
}

/* Page Settings */
body {
  background-color: var(--base-light);
  color: var(--text);
}

/* Body Text */

.nav_status {
  background-color:var(--base-ac);
  width: 100%;
  line-height: 1rem;
  color: var(--project);
  padding-top: 4rem;
}

.nav_status.project {
  background-color: var(--project);
}

.nav_status.home {
  background-color: var(--home);
}

main {
  padding: 1rem;
  font-size: larger;
}

/* Navigation Bar */
nav {
  padding: 10px;
  block-size: 4rem;
  background-color: var(--base);
  font-size: larger;
  position: fixed;
  width: 100%;
  transition: color 0.3s ease;
}


.nav_item_home, .nav_item_proj {
  border: 0;
  line-height: 3rem;
  padding: 1px;
  padding-right: 0.5rem;
  padding-left:0.5rem;
  border-radius: 5px;
  background-color:var(--base);
  transition: inherit;
  text-align: center;
  font-size: 30px;
}

.nav_item_home:hover {
  background-color: var(--home);
  color: var(--home-hl);
  transition: inherit
}

.nav_item_proj:hover {
  background-color: var(--project);
  color: var(--project-hl);
  transition: inherit
}

.nav_item_home.active {
  color: var(--text-s);
  transition: inherit;
  text-decoration: underline;
}

.nav_item_proj.active {
  color: var(--text-s);
  transition: inherit;
  text-decoration: underline;
}

.nav_item_home.active:hover {
  background-color: var(--home);
  color: var(--home-hl);
  transition: inherit
}

.nav_item_proj.active:hover {
  background-color: var(--project);
  color: var(--project-hl);
  transition: inherit
}

footer {
  padding: 1rem;
  padding-left: 2rem;
}

.foot{
  padding-right: 20px;
  text-decoration: dotted;
  text-decoration-color: white;
  text-decoration-line: underline;
}

.in-img {
  vertical-align: middle;
}